#bar_container {
    position: absolute;
    width: 88%;
    height: 6%;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%);
    background:rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    /* justify-content: space-around; */
}

/* #bar_button_container {
    display: inline-block;
    width: 100%;
} */

.bar_button {
    background: transparent;
    border: none;
    flex: 1;
    /* background-color: aqua; */
    /* margin-left: 7%;
    margin-right: 7%; */
    /* vertical-align: middle; */
}

.bar_icon {
    /* border: solid 1px red; */
    height: 35px;
    width: 35px;
    /* padding-left: 7%;
    padding-right: 7%; */
}

/* #message_option_container {
    position: absolute;
    width: 50%;
    height: 6%;
    bottom: 13%;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    border: 1px solid yellow;
}

.option_button {
    border: none;
    background: transparent;
} */

#radio_container{
    position: absolute;
    bottom: 20%;
    left: 5%;
    width: 66%;
    height: 3%;
    display: flex;
    background:rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 10px 10px;
}

label {
    flex: 1;
    font-size: 0.8rem;
    text-align: center;
    vertical-align: center;
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label {
    color:white;
    /* font-weight: bold; */
}