@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Gowun+Batang&family=IBM+Plex+Sans+KR&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

.weather_ui {
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    text-align: center;
    height: 150px;
}

.weather_ui div {
    display: inline-block;
}

#weather_option {
    text-align: right;
    display: inline-block;
    height: 30px;
    font-size: 20px;
    transform: translateY(-50%);
    
}

#weather_option div {
    font-family: 'Crimson Text', serif;
}


#weather_option .wi-degrees {
    font-size: 20px;
    margin-right: -10px;
    margin-left: 0px;
}

#temp,
#CurrIcon {
    display: inline-block;
}

.wi-degrees {
    font-size: 100px;
    padding-right: 10px;
    margin-left: -5px;
}

.wi-humidity {
    font-size: 20px;

}

#temp {
    font-size: 100px;
    transform: translateY(-10%);
}

#CurrIcon {
    font-size: 100px;
    padding-bottom: -100px;
}

#weather {
    margin-top: 3px;
    padding-right: 5px;
    font-size: 15px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}