/* ****** init.html css ****** */
.container {
    /* position:absolute;
    top: 70%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center; */
}
img{
    display: inline-block;
    content: "";
    border: none;
}
.btnDiv{
    top:60%;
    margin: 30px;
}
.btn{
    width: 40vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border: solid 2px white;
    border-radius: 12px;
    background-color:transparent;
    color: white;
    font-size: 1rem;
}
.btn:active{
    border-color: gray;
    color: gray;
    background-color: rgba(255, 255, 255, 0.8);
}
#message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: x-large;
}