#message_storage_view{
    position: absolute;
    background-color: rgba(101, 101, 101, 0.244);
    /* display: none; */
}
#message_storage_contents{
    float: left;
    position: relative;
    width: 44%;
    height: 100%;
    margin-left: 1%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    background-color: rgba(0, 0, 0, 0.299);
}

#message_storage_contents::-webkit-scrollbar{
    display:none;
}
.text_user_image{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8%;
}

.message_storage_content {
    background-color: rgba(0, 0, 0, 0.355);
    border-radius: 15px;
    float: left;
    width: 90%;
    height: 12%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 2%;
    overflow: hidden;
    cursor: pointer;
    /* border : 2px solid rgb(255, 255, 255); */
}

.message_storage_content .message_storage_content_sender{
    
   color: white;
   float: left;
   font-size: 16px;
   margin-top: 2%;
   margin-left: 8%;
}
.message_storage_content .message_storage_content_date{
    /* float: right; */
    margin-top: 2%;
    margin-left: 70%;
    font-size: 12px;
   
}
 .message_storage_content .message_storage_content_context{
    width: 80%;
    height: 45%;
    font-size: 14px;
    margin-left: 10%;
    margin-top:5%;
    
    overflow: hidden;
}




#message_storage_detail{
    float: right;
    position: absolute;
    width: 55%;
    height: 100%;
    margin-left: 46%;
    background-color: rgba(0, 0, 0, 0.299);
}
#message_storage_detail #message_storage_detail_contents{
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top:5%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* flex-direction:column-reverse;
    display:flex; */
}

#message_storage_detail #message_storage_detail_contents::-webkit-scrollbar{
    display:none;
}

#message_storage_detail #message_storage_detail_sender{
    font-size: 25px;
    text-align: center;
    width: 99%;
    background-color: rgba(0, 0, 0, 0.244);
}
.message_storage_detail_content{
    display: inline-block;
    background-color: rgb(92, 90, 90);
    margin: 2%;
    margin-bottom: 5%;
    margin-left: 3%;
    border-radius: 15px;
    width: 90%;

}
.message_storage_detail_content .message_storage_detail_context{
    margin: 3%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#storage-audio{
    width: 14vw;
    height: 5vw;
}
.message_storage_detail_content .message_storage_detail_context img{
    width:90%;
    margin-top :5%;
    margin-left:5%;

}
.message_storage_detail_content .message_storage_detail_date{
    font-size: 13px;
    margin-left: 70%;
    margin-bottom: 3%;
}
