#message-container {
    position: absolute;
    margin-top: 15vw;
    margin-left: 3vh;
    height: 10vw;
    width: 40vh;
}

#parent {
    position: relative;
    height: 100%;
    width: 100%;
}

#message-img #message_icon {
    /* position: absolute; */
    display: inline;
    height: 1.8vw;
    width: 1.8vw;
    font-size: 1.8vw;
}

#message-img {
    margin-left: 1vw;
    float: left;
}

#message-text-div {
    color: white;
    font-size: 1.3vw;
    display: inline;
    margin-left: 0.5vw;
}

#message-contents {
    margin-top: 0.7vw;
    margin-left: 2vh;
    height: 5.5vw;
    width: 36vh;
    position: relative;
    overflow: hidden;
}

.message-content {
    margin-top: 0.4vh;
    padding-left: 2vh;
    color: white;
    font-size: 1vw;
    width: 34vh;
    height: 60%;
    cursor: pointer;
    border-radius: 1vw;
    outline: none;
    border: 0;
}

#point-imag {
    margin-top: 1%;
    margin-left: 35%;
    width: 4vw;
    height: 4vw;
    right: 50%;
    transform: translate(50%, 0%);
}

.message-slides {
    position: absolute;
    left: 0;
    top: 0;
    width: 72.8vh;
    /* 슬라이드할 사진과 마진 총 넓이 */
    height: 64%;
    transition: left 0.4s ease-out;
    /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
}


/* 슬라이드들 옆으로 정렬 */
.message-slides li:not(:last-child) {
    float: left;
    list-style: none;
}

.message-slides li {
    float: left;
    list-style: none;
}

.message-controller span {
    position: absolute;
    background-color: transparent;
    color: white;
    text-align: center;
    border-radius: 50%;
    /* padding: 10px 20px; */
    top: 55%;
    font-size: 0.7em;
    cursor: pointer;
}

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.message-controller span:hover {
    background-color: rgba(128, 128, 128, 0.11);
}

#message-prev {
    left: -0.5vh;
}

#message-next {
    right: 0.8vh;

}

/* 큰 메시지 창 ui ====================================== */

#message-detail-container {
    position: absolute;
    top: 4vw;
    right: 5vh;
    height: 20vw;
    width: 48vh;
    border: 0.07vw solid white;
    visibility: hidden;
    border-radius: 5%;
}

#message-detail-div {
    position: relative;
    height: 100%;
    width: 100%;

}

#message-detail-div #message-sender {
    color: white;
    font-size: 1.3vw;
    /* margin-top: 3%; */
    margin-left: 1.2vw;
    float: left;
}

#message-detail-div #message-time {
    color: white;
    font-size: 0.8vw;
    margin-left: 60%;
    margin-top: 3%;
}

#message-detail-div #message-content {
    color: white;
    width: 80%;
    height: 35%;
    font-size: 1.7vw;
    margin: 2vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(20%);
    top: 0%;
    transform: translate(0%, 50%);
}


#message-detail-div #message-image {
    position: absolute;
    right: 3vh;
    width: 30vh;
    height: 20vh;
    transform: translateY(-3.5vw);
    /* 2/3 */

}

#message-detail-div #message-reply {
    margin-top: 11%;
    width: 80%;
    height: 20%;
}

#message-detail-div #message-reply #reply-text {
    margin-left: 10%;
    width: 100%;
    height: 65%;
    font-size: 1.2vw;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: aliceblue;
    position: relative;
    transform: translateY(2.5vw);
}

#reply-btn {
    background: transparent;
    border: none;
    flex: 1;
    bottom: 1.5vw;
    right: 4.5vw;
    font-size: 2vw;
    position: absolute;
}

#reply-btn img {
    width: 3vw;
    height: 3vw;
}