@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Gowun+Batang&family=IBM+Plex+Sans+KR&display=swap');
* {
    padding: 0;
    margin: 0;
}

#container{
    position: absolute;
    margin-top: 2.5vw;
    margin-left: 4vh;
    width: 12vw;
    height: 13vw;
    /* border: solid 2px red;  */
}

.weather_ui {
    /* float: left; */
    /* margin-top: 40px; */
    /* margin-left: 40px; */
    /* text-align: center; */
    display: flex;
    height: 5vw;
    width: 100%;
    color:white;
    /* background-color: black; */
    /* border: solid 2px blue;  */
}

#weather_icon {
    /* position: absolute; */
    /* float: left; */
    width: 40%;
    height: 100%;
    margin-left: 1.1vw;
    font-size: 3.8vw;
    transform: translateY(0.3vw);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 2px skyblue; */
}

#temp {
    width: 60%;
    height: 100%;
    margin-left: 0.5vw;
    font-size: 3.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2;
    /* border: solid 2px hotpink; */
}

.wi-degrees {
    font-size: 100px;
    padding-right: 10px;
    margin-left: -5px;
}

.wi-humidity {
    font-size: 20px;
}

#weather {
    margin-top: 3px;
    padding-right: 5px;
    font-size: 15px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}