html {
    transform: rotate(-90deg);
    transform-origin: top left;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vh;
    height: 100vw; 
}

/* ****** init.html css ****** */
.container {
    position:absolute;
    top: 70%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#loginMessage{
    position:absolute;
    top: 50%;
    left:45%;
    text-align: center;
}
img{
    display: inline-block;
    content: "";
    border: none;
}
.btnDiv{
    top:60%;
    margin: 30px;
}
.btn{
    width: 40vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border: solid 2px white;
    border-radius: 12px;
    background-color:transparent;
    color: white;
    font-size: 1rem;
}
#modelBtn{
    border: solid 2px rgb(0, 0, 0) !important;
    color: rgb(49, 43, 43) !important;
}
.btn:active{
    border-color: gray;
    color: gray;
    background-color: rgba(255, 255, 255, 0.8);
}
#message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: x-large;
}