* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

.sibal {
    float:left;
    margin: 10px;
}

.container {
    width: 100%;
    height: 100vh;
 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.container * {
    margin: 10px;
    
}

.container h1 {
    font-size: 3em;
}

#weather {
    font-size: 1.5em;
}