.keyboard-container{
	display:none;
}

.keyboard-div div{
	display: inline-block;
}

.keyboard-container{
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom:35px;
	margin: 0 auto;
	width : 75%;
	height: max-content;
    background-color: #000;
    border-radius: 2%;
	border: 1px solid #fff;
	box-shadow: 0 0 5px rgba(33,156,243,.5),
				0 0 10px rgba(255, 255, 255, 0.5),
				0 0 20px rgba(33,156,243,.5);
}

div input[type="button"]{
	color :white;
	/* font:  bold 1.2em Arial; */
    margin: 3px;
	/* width : 3vh;
	height: 2.8vh; */
	font-size: 20px;
	background-color: #000;
    border-radius: 10%;
	border: 1px solid #fff;
	box-shadow: 0 0 5px rgba(33,156,243,.5),
				0 0 10px rgba(255, 255, 255, 0.5),
				0 0 20px rgba(33,156,243,.5);
	
}
div input[type="button"]:hover {
	color: #fff;
	text-shadow: 0 0 10px rgba(33,156,243,.8),
				 0 0 20px rgba(33,156,243,1);
}
#line1{
	margin-left: 4%;
	margin-bottom:1.5%;
	width: 100%;
}
#line1 .key{
	font-size: 25px;
	width:3vw;
	height:2vw;
}
#line2 {
	margin-left: 3%;
}
#line2 .key{
	font-size: 25px;
	width:3.5vw;
	height:2.5vw;
	/* width : 7%;
	height: 13%; */
}

#line3{
	margin-left: 6%;
}

#line3 .key{
	/* width : 7%;
	height: 13%; */
	font-size: 25px;
	width:3.5vw;
	height:2.5vw;
}
#line4{
	margin-left: 3%;
}
#line4 .key{
	/* width : 7%;
	height: 13%; */
	font-size: 25px;
	width:3.5vw;
	height:2.5vw;
}
#line5{
	margin-left: 32%;
}
#line5 .key{
	width : 45%;
	height: 2.5vw;
}
.line{
	margin:1%;
	width: 100%;
}

#line5 #ko-eng{
	width:3.5vw;
	height:2.5vw;
}

#eng-keys{
	display:none;
}
#ko-keys{
	display:block;
}