
html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}
div{
   cursor: pointer;
}
.container{
    width:100vh;
    height:100vw;
    border: 1px solid white;;
}
.message-box{
    margin-top: 7%;
    margin-left: 1%;
    height: 10%;
    width: 15%;
    position: absolute;
}
#parent {
    position: relative;
    height: 100%;
    width: 100%;
  }
.text-div{
    color :white;
    font-size: medium;
}

#message-text-div {
    margin-top: 2%;
    margin-left :20%;
}
#message-contents {
    margin-top: 5%;
    position: relative;
}
.message-content{
    margin: 4%;
    margin-left: 5%;
    color: white;
    font-size: small;
   
}


#message-detail-box{
    position: absolute;
    margin-top: 4%;
    margin-left: 72%;
    height: 15%;
    width: 17%;
    border: 1px solid white;
    visibility :hidden;
    border-radius: 5%;
}
#message-detail-div{
    position: relative;
    height: 100%;
    width: 100%;
   
}
#message-sender{
    color : white;
    font-size: small;
    margin-top: 5%;
    margin-left: 5%;
}

#message-content{
    color : white;
    font-size: medium;
    margin-top: 10%;
    margin-left: 20%;
}
#message-time{
    color : white;
    font-size: small;
    margin-left: 70%;
    margin-top: 18%;
}


